/* navbar section */
.hamburger {
    right: 0.75rem;
}

.hamburger>div {
    border-top: 4px solid white;
    width: 2rem;
    border-radius: 1rem;
}

.btn {
    display: none;
}


/* hero1_section */
.bg_video_text_overlay>h2 {
    font-size: 20px;
}

.bg_video_text_overlay>h1 {
    font-size: 40px;
}

/* hero_2 section */
.hero_2 h2 {
    font-size: 20px;
}

.hero_2 h1 {
    font-family: "Nanum Myeongjo", Sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.hero_2 p {
    color: #25120e;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
}

.feature_bar {
    padding: 1rem;
}

/* services section */
.services h2 {
    font-size: 20px;
    font-weight: 300;
}

.services h1 {
    color: var(--e-global-color-rosegold);
    width: 100%;
    font-size: 40px;
    font-weight: 400;
}

.services>div>p {
    color: #D9CFC4;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.btn_explore_all_services {
    padding: 1rem 2rem;
    cursor: pointer;    
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.services_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    padding: 4rem 0rem;
}

.services_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 80vw;
}

.services_card>img {
    border: 2px solid var(--e-global-color-accent);
    width: 100%;
    border-radius: 1rem;
}

.services_card>h2 {
    padding-top: 1rem;
    font-family: "Nanum Myeongjo", Sans-serif;
    font-size: 20px;
}

.services_card>p {
    color: var(--e-global-color-white);
    padding: 1rem;
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}


/* why choose auraballroom section */
.why_choose_aura_ballroom h2 {
    font-size: 20px;
}

.why_choose_aura_ballroom h1 {
    width: 100%;
    font-size: 40px;
}

.why_choose_aura_ballroom>p {
    color: var(--e-global-color-primary);
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.btn_book_a_private_tour {
    font-size: 16px;
}

.our_venue_section>h2 {
    font-size: 20px;
}

.our_venue_section>h1 {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.our_venue_content {
    flex-direction: column;
}

.our_venue_content>div>img {
    border-radius: 1rem;
    height: auto;
    max-width: 80vw;
}

.our_venue_features {
    gap: 1rem;
    height: auto;
}   

.our_venue_feature {
    height: auto;
}

.a_glimpse_of_the_aura_experience_section>h2 {
    font-size: 20px;
}

.a_glimpse_of_the_aura_experience_category_bar {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem;
}

.a_glimpse_of_the_aura_experience_category_item {
    font-size: 12px;
}

.photo_grid {
    grid-template-columns: repeat(1, 1fr);
}

.btn_explore_full_gallery {
    font-size: 16px;
}

.what_our_clients_say_section>h2 {
    font-size: 20px;
}

.what_our_clients_say_section>h1 {
    font-size: 40px;
}

.what_our_clients_say_section>p {
    font-size: 18px;
}

.customer_review_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 1rem;
}

.where_we_serve_section{
    padding : 4rem 1rem;
}

.where_we_serve_section>h2 {
    font-size: 20px;
}

.where_we_serve_section>h1 {
    font-size: 40px;
}

.where_we_serve_section>p {
    max-width: 800px;
    font-size: 18px;
}

.capsule_pointers {
    flex-direction: column;
}

.capsule {
    width: 90vw;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 8rem;
}

.capsule_text {
    text-align: center;    
    font-size: 16px;
}

.map>iframe {
    width: 90vw;
    height: 60vh;
}

.areas_list {
    padding: 1rem;
    width: auto;
    font-size: 15px;
}

.begin_your_journey_section>h1 {
    font-size: 20px;
}

.begin_your_journey_section>h2 {
    width: auto;
    font-size: 40px;
}

.begin_your_journey_section>p {
    width: auto;
}

.get_in_touch_section>h1 {
    font-size: 20px;
}

.get_in_touch_section>h2 {
    width: auto;
    font-size: 40px;
}

.get_in_touch_section>p {
    width: auto;
    font-size: 18px;
}

footer {
    padding: 2rem 1rem;
}

.footer-nav {
    flex-direction: column;
}

.footer_brand_description {
    width: auto;
}

.footer_copyright_bar {
    flex-direction: column;
    gap: 1rem;
}