:root {
    /* Brand Colors */
    --e-global-color-primary: #25120E;
    --e-global-color-secondary: #FEF5EA;
    --e-global-color-accent: #FFB858;
    --e-global-color-skin: #FFDCA6;
    --e-global-color-lightbrown: #3A2118;
    --e-global-color-white: #FFFFFF;
    --e-global-color-rosegold: #FFCB84;
    --e-global-color-darkestbrown: #1B0707;
    --e-global-color-brown: #2B1B14;
}

/* Global */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-primary);
}

li {
    list-style: none;
}

/* white bg section template */
.light_bg_section {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-primary);
    text-align: center;
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* brown bg section template */
.darkest_bg_section {
    background-color: var(--e-global-color-darkestbrown);
    color: var(--e-global-color-accent);
    text-align: center;
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* dark brown bg section template */
.brown_bg_section {
    background-color: var(--e-global-color-brown);
    color: var(--e-global-color-accent);
    text-align: center;
    padding: 4rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.brown_bg_section>h2 {
    color: var(--e-global-color-accent);
    font-size: 2rem;
    padding: 1rem;
}

/* divider */
.divider {
    padding: 1rem;
}


/* navbar section */
.logo>img {
    height: 5rem;
}

.navbar {
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    height: 6rem;
    width: 100%;
    flex-wrap: wrap;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navbar a {
    color: var(--e-global-color-white);
    text-decoration: none;
}

.navbar>ul>li {
    font-size: 1.2rem;
}

.navbar>ul>li>a.active {
    color: var(--e-global-color-accent);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: var(--e-global-color-accent);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.btn {
    background: linear-gradient(180deg, #E3A64F 0%, #AD6908 100%);
    color: var(--e-global-color-primary);
    padding: 0.5rem 2rem;
    border: 1px solid var(--e-global-color-skin);
    border-radius: 2rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* hero_1 section */
.bg_video_section {
    position: relative;
}

.bg_video_section>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg_video_text_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4rem;
}

.bg_video_text_overlay>h2 {
    color: var(--e-global-color-accent);
    font-size: 2.5rem;
    padding: 1rem;
}

.bg_video_text_overlay>h1 {
    color: var(--e-global-color-skin);
    font-size: 3.5rem;
    padding: 1rem;
}

/* hero_2 section */
.hero_2 h2 {
    font-size: 2rem;
}

.hero_2 h1 {
    font-size: 3.5rem;
    padding: 1rem;
}

.hero_2 p {
    font-size: 1.2rem;
    padding: 1rem;
    width: 50%;
    text-align: center;
}


.btn_book_a_venue {
    background: var(--e-global-color-lightbrown);
    color: var(--e-global-color-rosegold);
    padding: 0.5rem 2rem;
    border: 1px solid var(--e-global-color-skin);
    border-radius: 2rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

/* features section */
.feature_bar {
    background-color: var(--e-global-color-lightbrown);
    color: var(--e-global-color-accent);
    padding: 1rem 6rem;
    border-bottom: 1px solid var(--e-global-color-skin);
}

.feature_bar ul {
    list-style: none;
    /* Removes any default browser bullet markers */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


/* services section */
.services h2 {
    font-size: 2rem;
}

.services h1 {
    color: var(--e-global-color-rosegold);
    font-size: 3.5rem;
    width: 60%;
}

.services p {
    color: var(--e-global-color-white);
    font-size: 1.2rem;
    padding: 1rem;
    width: 60%;
    text-align: center;
}

.btn_explore_all_services {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor : pointer;
}

.services_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.services_card {
    border: 1px solid var(--e-global-color-accent);
    background-color: var(--e-global-color-lightbrown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 100%;
}

.services_card>img {
    border: 2px solid var(--e-global-color-accent);
    width: 100%;
    border-radius: 1rem;
}

.services_card>h2 {
    padding-top: 1rem;
    font-size: 0.5rem; 
}

.services_card>p{
    font-size: 1.5rem;
}


/* why choose auraballroom section */
.why_choose_aura_ballroom h2 {
    color: var(--e-global-color-primary);
    font-size: 2rem;
}

.why_choose_aura_ballroom h1 {
    color: var(--e-global-color-primary);
    font-size: 3.5rem;
    width: 60%;
}

.why_choose_aura_ballroom>p {
    color: var(--e-global-color-primary);
    font-size: 1.2rem;
    padding: 1rem;
    width: 60%;
    text-align: center;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.cards_container>.card {
    border: 1px solid var(--e-global-color-accent);
    background-color: var(--e-global-color-lightbrown);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 100%;
}

.cards_container>.card>h2 {
    color: var(--e-global-color-accent);
    padding: 0.5rem 0rem;
}

.cards_container>.card>p {
    padding-top: 1rem;
    color: var(--e-global-color-white);
}

.card_icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card_icon svg {
    width: 100%;
    height: 100%;
    fill: var(--e-global-color-accent);
}

.btn_book_a_private_tour {
    color: var(--e-global-color-brown);
    padding: 0.5rem 2rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

/* our venue section */
.our_venue_section {
    border: 3px solid red;
    background-color: #3A2418;
    color: var(--e-global-color-rosegold);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
}

.our_venue_section>h2 {
    color: var(--e-global-color-accent);
    font-size: 2rem;
}

.our_venue_section>h1 {
    color: var(--e-global-color-rosegold);
    font-size: 3.5rem;
    width: 60%;
}

.our_venue_content{
    display : flex;
    gap: 1rem;
    padding: 3rem 0rem;
    max-width: 80%;
}

.our_venue_content>div>img {
    border-radius: 1rem;
    height : 80vh;
}

.our_venue_features {
    color: var(--e-global-color-rosegold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.our_venue_feature{
    border: 1px solid var(--e-global-color-accent);
    border-radius: 1rem;
    height: 30%;
}

.our_venue_feature>h2 {
    padding: 1rem;
}
.our_venue_feature>p {
    padding: 1rem;
}

/* get in touch section */
.get_in_touch_section h2 {
    color: var(--e-global-color-accent);
    font-size: 2rem;
}

.get_in_touch_section h1 {
    color: var(--e-global-color-rosegold);
    font-size: 3.5rem;
    width: 70%;
}

.get_in_touch_section>p {
    color: var(--e-global-color-white);
    font-size: 1.2rem;
    padding: 1rem;
    width: 70%;
    text-align: center;
}

.get_in_touch_section {
    background-color: #5A3A20;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 0rem;
}

/* footer section */
footer {
    background-color: var(--e-global-color-darkestbrown);
    color: var(--e-global-color-white);
    padding: 2rem 6rem;
    text-align: center;
}

.footer-nav {
    color: var(--e-global-color-white);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.footer-nav ul {
    flex-direction: column;
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    font-size: 1rem;
}

.footer-nav h2 {
    color: var(--e-global-color-accent);
}

.footer-nav a {
    color: var(--e-global-color-white);
    text-decoration: none;
}

.footer_brand_space {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.footer_brand_logo>img {
    width: 18vw;
    padding-bottom: 1rem;
}

.footer_brand_description {
    text-align: left;
    font-size: 1.2rem;
    width: 20vw
}

.footer_copyright_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
    color: var(--e-global-color-accent)
}