#send_us_an_inquiry_container {
    background-color: #583614;
    color: #FFCB84;
}

#send_us_an_inquiry_container > h1 {
    font-family: "Nanum Myeongjo", Sans-serif;
}

#send_us_an_inquiry_container > p {
    font-family: "Poppins", Sans-serif;
}

#submit_form_btn{
    color : #FFCB84;
    background-color : #583614;
}

#submit_form_btn:hover {
    opacity : 0.7;
}